:root {
  font-family: 'Rubik', sans-serif;
}

.header {
  position: sticky;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 13px;
}

.header .logo {
  width: 155px;
  margin-top: 10px;
}

.navi {
  display: flex;
  gap: 20px;

}

.navi .button {
  border: none;
  background-color: transparent;
  padding: 0;
}

.navi .link {
  color: #4a4a4a;
  text-decoration: none;
  font-size: 16px;
}

.main {
  background-color: #3CDBC0;
  height: 100vh;
}

.main .title {
  font-size: 30px;
  font-weight: bolder;
  color: #FFFFFF;
  width: 250px;
  text-align: center;
  position: relative;
  top: 33vh;
  left: 50vw;
  transform: translate(-50%, -50%);
}

@media all and (min-width: 768px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 30px;
  }

  .main .title {
    top: 50vh;
    font-size: 40px;
  }
}