@import'./core/reset';

:root {
  font-family: 'Rubik', sans-serif;
  --color-grey: #4a4a4a;
  --color-blue: #3CDBC0;
  --color-white: #FFFFFF;
  font-size: calc(16px * 0.625);

}

.header {
  width: 100vw;
  background-color: var(--color-white);
  position: fixed;
  top: 0;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-top: 10px;
  padding-bottom: 13px;
  &__logo {
    width: 155px;
    }
  &__menu {
    display: flex;
    &__link {
      color: var(--color-grey);
      text-decoration: none;
      font-size: 1.6rem;
      text-transform: uppercase;
      padding: 10px;
    }
  }
}



.main {
  background-color: var(--color-blue);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.main__title {
  font-size: 3.0rem;
  font-weight: bolder;
  color: var(--color-white);
  word-spacing: 100vw;
  text-align: center;
  text-transform: capitalize;
  }


@media all and (min-width: 768px) {
  .header {
    flex-direction: row;
 justify-content: space-between;
 padding: 20px 0px;
 &__logo{
  padding-left: 30px;
 }
&__menu{
  padding-right: 20px;
}
  }

  .main__title {
    font-size: 4.0rem;
  }
}